name: Hola mundo Actions GH

on:
  push:
    branches:
        - main

jobs:
    hola_mundo:
            name: Imprimir hola mundo
            runs-on: ubuntu-latest

            steps:
                - name: Revisar el repo
                  uses: actions/checkout@v2
                
                - name: Ejecutar codigo python
                  uses: python3 app.py 